# Copyright 2024 Defense Unicorns
# SPDX-License-Identifier: AGPL-3.0-or-later OR LicenseRef-Defense-Unicorns-Commercial

name: Release

on:
  push:
    branches:
      - main

# Permissions for the GITHUB_TOKEN used by the workflow.
permissions:
  contents: read # Allows reading the content of the repository.
  packages: read # Allows reading the content of the repository's packages.
  id-token: write

jobs:
  publish:
    permissions:
      contents: write # Allows reading the content of the repository.
      packages: write # Allows reading the content of the repository's packages.
      id-token: write
    strategy:
      matrix:
        flavor: [upstream, registry1, unicorn]
        architecture: [amd64, arm64]
        exclude:
          - flavor: registry1
            architecture: arm64
    uses: defenseunicorns/uds-common/.github/workflows/callable-publish.yaml@10a8fbeef50416b8c4b0b86f17f6e31f84598294 # v1.24.1
    with:
      flavor: ${{ matrix.flavor }}
      options: --set BASE_REPO="ghcr.io/uds-packages"
      runsOn: ${{ matrix.architecture == 'arm64' && 'appstore-4-core-arm64' || 'appstore-4-core-amd64' }}
      uds-releaser: true
    secrets: inherit # Inherits all secrets from the parent workflow.
